<% content_for :title do %>GCTools Health<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Welcome to the Network Health Indicator dashboard" data-text="" data-moreinfo="This dashboard is a work in progress, stay tuned for updates!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="opp" data-view ="LineChart" data-title="Opportunities" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="totals" data-view="List" data-unordered="true" data-title="Totals" data-moreinfo="in the last 30 days"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="health" data-view="Meter" data-moreinfo="of the last 30 days" data-title="Overall Health" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="discussions" data-view ="LineChart" data-title="Discussions" data-moreinfo=""></div>
    </li>
  </ul>
  <center><div style="font-size: 12px">Treasury Board of Canada Secretariat</div></center>
</div>
